<%# 날짜 구분선 - Fluid Lounge Style %>
<%# locals: date %>

<div class="flex items-center gap-4 my-6">
  <div class="flex-1 h-px bg-stone-200"></div>
  <span class="text-xs font-medium text-stone-400">
    <%= format_message_date(date) %>
  </span>
  <div class="flex-1 h-px bg-stone-200"></div>
</div>
